# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432" # Needs to match the port in docker-compose.yml
POSTGRES_NAME="arweave_storage_dev"
POSTGRES_USER="johndoe"
POSTGRES_PASSWORD="johndoe"

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_NAME}?schema=public"

REDIS_HOST="localhost"
REDIS_PORT="6379"
REDIS_USERNAME=""
REDIS_PASSWORD=""

JWT_SECRET=""
CMC_API_KEY=""

ARWEAVE_ADDRESS="Bbd8pZ2IjMcassQKGzs109C4deiBIk4Yfm8sdDraHVY"
SOLANA_ADDRESS="C4rYug44LyJBcYQPgTBC7uy52rzWvoBo4tC1p2DvkNmj"
SOLANA_PK=""
EVM_ADDRESS="0x64F2Be5c1B08176AAB1F4500dA368731d0220BbE"
EVM_PK=""

FEE_ADDRESS_EVM="0x8D2808c33cFd692df9A5D9FE9e261A71e8aC452f"
FEE_ADDRESS_SOLANA="C4rYug44LyJBcYQPgTBC7uy52rzWvoBo4tC1p2DvkNmj"
FEE_PERCENTAGE="5"
AR_HOT_WALLET=""

INFURA_API_KEY=""